{{ define "main" }}
<main class="main list" role="main">
	{{- with .Title }}
	<header class="main__header">
		<h1 class="main__title">{{ . }}</h1>
	</header>
	{{- end }}
	{{- if .Site.Params.belowTitlePartial }}{{ partial .Site.Params.belowTitlePartial . }}{{ end }}
	{{- with .Content }}
	<div class="content main__content clearfix">
		{{ . }}
	</div>
	{{- end }}
	{{- if .Params.pageFeed | default true -}}
		{{- $pages := .Pages }}
		{{- $pagerSize :=  .Params.pagerSize | default .Site.Params.pagerSize | default 10 }}
		{{/*  order by filename */}}
		{{- if .Params.orderByFilename }}
			{{- $pages = ( sort $pages "File.BaseFileName" ) }}
		{{/*  order by date */}}
		{{- else if .Params.orderByDate }}
			{{- $pages = sort $pages "Date" "desc" }}
		{{/*  order by weight */}}
		{{- else if .Params.orderByWeight }}
			{{- $pages = sort $pages "Weight" "desc" }}
		{{/*  order by title */}}
		{{- else if .Params.orderByTitle }}
			{{- $pages = sort $pages "Title" "asc" }}
		{{- end }}

		{{/*  reverse order */}}
		{{- if .Params.reverseOrder }}
			{{- $pages = $pages.Reverse }}
		{{- end }}
		{{/*  call paginate */}}
		{{- range ( .Paginate $pages $pagerSize ).Pages }}
			{{- .Render "summary" }}
		{{- end }}
	{{- end }}
</main>
{{- if .Params.pageFeed | default true -}}
	{{ partial "pagination.html" . }}
{{- end }}
{{ end }}