{{- $highlightColor := .Site.Params.style.vars.highlightColor | default (.Site.Params.highlightColor | default "#003056") -}}
{{- $accentColor := .Site.Params.style.vars.accentColor | default (.Site.Params.accentColor | default "#810a1a") -}}
{{- $darkHighlightColor := .Site.Params.style.vars.darkHighlightColor | default (.Site.Params.darkHighlightColor | default "#4885C1") -}}


{{- $fontSans := `"Open Sans", Helvetica, Arial, sans-serif` -}}
{{- $fontMono := `SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace` -}}
{{- $fontFamilyPrimary := .Site.Params.style.vars.fontFamilyPrimary | default $fontSans -}}
{{- $fontFamilySecondary := .Site.Params.style.vars.fontFamilySecondary | default $fontMono -}}

*,
*::before,
*::after {
	box-sizing: border-box;
}

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
	display: block;
}

:focus::-webkit-input-placeholder {
	color: transparent;
}

:focus::-moz-placeholder {
	color: transparent;
}

:focus:-moz-placeholder {
	color: transparent;
}

:focus:-ms-input-placeholder {
	color: transparent;
}

/* Fonts
 * Downloaded from https://google-webfonts-helper.herokuapp.com/fonts/open-sans
 * */
/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'),
       url('{{ "fonts/open-sans-v18-latin-300.woff2" | absURL }}') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('{{ "fonts/open-sans-v18-latin-300.woff" | absURL }}') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}

/* open-sans-300italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'),
       url('{{ "/fonts/open-sans-v18-latin-300italic.woff2" | absURL }}') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('{{ "/fonts/open-sans-v18-latin-300italic.woff" | absURL }}') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('{{ "/fonts/open-sans-v18-latin-regular.woff2" | absURL }}') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('{{ "/fonts/open-sans-v18-latin-regular.woff" | absURL }}') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}

/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
       url('{{ "/fonts/open-sans-v18-latin-italic.woff2" | absURL }}') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('{{ "/fonts/open-sans-v18-latin-italic.woff" | absURL }}') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}

/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
       url('{{ "/fonts/open-sans-v18-latin-600.woff2" | absURL }}') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('{{ "/fonts/open-sans-v18-latin-600.woff" | absURL }}') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}

/* open-sans-600italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'),
       url('{{ "/fonts/open-sans-v18-latin-600italic.woff2" | absURL }}') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('{{ "/fonts/open-sans-v18-latin-600italic.woff" | absURL }}') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}

/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('{{ "/fonts/open-sans-v18-latin-700.woff2" | absURL }}') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('{{ "/fonts/open-sans-v18-latin-700.woff" | absURL }}') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}

/* open-sans-700italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
       url('{{ "/fonts/open-sans-v18-latin-700italic.woff2" | absURL }}') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('{{ "/fonts/open-sans-v18-latin-700italic.woff" | absURL }}') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}

/* merriweather-regular - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather Regular'), local('Merriweather-Regular'),
       url('{{ "/fonts/merriweather-v22-latin-regular.woff2" | absURL }}') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('{{ "/fonts/merriweather-v22-latin-regular.woff" | absURL }}') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}

/* merriweather-700 - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local('Merriweather Bold'), local('Merriweather-Bold'),
       url('{{ "/fonts/merriweather-v22-latin-700.woff2" | absURL }}') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('{{ "/fonts/merriweather-v22-latin-700.woff" | absURL }}') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}

/* color */

body {
--primary-color: #1a1a1a;
--background-color: #F0F4F6;
--secondary-color: #999;
--secondary-background-color: #f5f5f5;
--shadow-color: #3232322b;

--title-color: #1a1a1a;
--title-shadow-color: #fff;

--toc-color: #7a8288;
--toc-background-color: #fff;

--inverted-primary-color: #fff;
--inverted-background-color: #2a2a2a;

--thin-border-color: #ebebeb;
--mark-color: #fd5;
--code-color: #c33;
--pre-color: #000;
--meta-icon-color: #c4c4c4;

--highlight-color: {{ $highlightColor}};
--accent-color: {{ $accentColor }};
--link-color: {{ $highlightColor }};
}


{{ if .Site.Params.darkMode }}
@media (prefers-color-scheme: dark) {

	body{
		--primary-color: #c7c7c7;
		--background-color: #181818;
		--secondary-color: #000000;
		--secondary-background-color: #3b3b3b;		
		
		--toc-color: #a4afb8;
		--toc-background-color: #000;
		
		--inverted-primary-color: #000;
		--inverted-background-color: #969696;
		
		--thin-border-color: #313131;
		--pre-color: #fff;
		--meta-icon-color: #343434;
		
		--highlight-color: {{ $darkHighlightColor }};
		--link-color: {{ $darkHighlightColor }};

	}
}
{{ end }}



/* Structure */
html {
	font-size: 115%;
	-ms-text-size-adjust: none;
	-webkit-text-size-adjust: none;
}

body {
	color: var(--primary-color);
	margin: 0;
	font-family: {{ $fontFamilyPrimary }};
	font-size: .875rem;
	line-height: 1.6;
	word-wrap: break-word;
	background: var(--background-color);
	-webkit-font-smoothing: antialiased;
	/* Stick footer to bottom */
	display: flex;
	flex-direction: column;
	height: auto;
	min-height: 100vh;
}

.container {
	position: relative;
	width: 100%;
	max-width: 75rem;
	margin: 0 auto;
}

.container--outer {
	margin: 1.6rem auto;
	box-shadow: 0 0 .625rem var(--shadow-color); 
}

.wrapper {
	padding: 1.6rem 0;
}

.flex {
	display: -webkit-flex;
	display: flex;
}

.primary {
	-webkit-flex: 1 0 65.83%;
	flex: 1 0 65.83%;
	-webkit-order: 1;
	order: 1;
	min-width: 0;
}

.sidebar {
	-webkit-flex: 1 0 31.66%;
	flex: 1 0 31.66%;
	-webkit-order: 2;
	order: 2;
	min-width: 0;
	margin: 0 0 0 2.5%;
}

.sidebar--left {
	-webkit-order: 0;
	order: 0;
	margin: 0 2.5% 0 0;
}

.clearfix {
	display: block;
}

.clearfix::after {
	display: block;
	height: 0;
	padding: 0;
	margin: 0;
	clear: both;
	line-height: 0;
	visibility: hidden;
	content: "";
}

input,
button,
select,
optgroup,
textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

/* Button */
.btn {

	padding: .3rem .6rem;
	font-weight: 700;
	color: var(--inverted-primary-color);
	white-space: pre-line;
	background: var(--inverted-background-color);
}

.btn:hover {
	color: var(--inverted-primary-color);
	background: var(--highlight-color);
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 1.25rem;
	font-weight: 700;
	line-height: 1.3;
	color: var(--highlight-color);
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.25rem;
}

h4 {
	font-size: 1.125rem;
}

h5 {
	font-size: 1rem;
}

h6 {
	font-size: 1rem;
}

a {
	color: var(--link-color);
	text-decoration: none;
}

a:hover {
	color: var(--accent-color);
}

hr {
	margin: 0 0 1.25rem;
}

p {
	margin: 0 0 1.25rem;
}

b,
strong {
	font: inherit;
	font-weight: 700;
}

i,
em {
	font: inherit;
	font-style: italic;
}

ol,
ul {
	padding: 0;
	margin: 0;
}

small {
	font-size: .75rem;
}

mark {
	background-color: var(--mark-color);
}

figure {
	margin: 0 0 1.25rem;
}

figcaption {
	margin-top: .25rem;
	color: var(--secondary-color);
}

figcaption h4 {
	margin: 0;
	color: inherit;
}

pre,
code,
kbd,
samp {
	font-family: {{ $fontFamilySecondary }};
	font-size: inherit;
}

pre,
code {
	background-color: var(--secondary-background-color);
	border: 1px solid var(--thin-border-color);
}

code {
	padding: 0 .3rem;
	color: var(--code-color);
}

pre {
	display: block;
	padding: 1.25rem;
	margin-bottom: 1.25rem;
	overflow: auto;
	color: var(--pre-color);
}

pre code {
	padding: 0;
	color: inherit;
	white-space: inherit;
	background: inherit;
	border: 0;
}

kbd {
	padding: .1rem .2rem;
	color: var(--inverted-primary-color);
	background-color: var(--inverted-background-color);
}

blockquote {
	display: block;
	padding: .3rem 0 .3rem .9rem;
	margin: 0 0 1.25rem;
	line-height: 1.6;
	border-left: .3rem solid var(--highlight-color);
}

blockquote p:last-child {
	margin: 0;
}

blockquote footer {
	text-align: right;
}

sup,
sub {
	font-size: .625rem;
	font-style: normal;
}

sup {
	vertical-align: super;
}

sub {
	vertical-align: sub;
}

abbr[title] {
	text-decoration: none;
	cursor: help;
	border-bottom: 1px dotted var(--primary-color);
}

q {
	font-style: italic;
}

address {
	margin-bottom: 1.25rem;
	font-family: "Consolas", Courier New, Courier, monospace;
	line-height: 1.5;
}

dl {
	margin: 0 0 .625rem 1.25rem;
}

dt,
dd {
	display: list-item;
}

dt {
	font-weight: bold;
	list-style-type: square;
}

dd {
	margin-left: 1.25rem;
	list-style-type: circle;
}

select {
	max-width: 100%;
}

.warning {
	padding: 1.25rem .625rem;
	text-align: center;
	border: 1px solid var(--inverted-primary-color);
}

.warning__icon {
	margin-bottom: 1.25rem;
	fill: var(--inverted-primary-color);
}

/* Header */
.header {
	background: var(--header-background-color);
}

.logo {
	padding: 1.6rem;
	{{ with .Site.Params.logo.header -}}
	background: url({{ . | absURL }}) center/cover no-repeat
	{{- end }}
}

.logo__link {
	display: inline-block;
}

.logo__item {
	display: inline-block;
	vertical-align: middle;
}

.logo__img {
	max-height: 16rem;
}

.logo__text {
	text-transform: uppercase;
}

.logo--mixed .logo__item {
	margin: .5rem auto;
}

.logo--mixed .logo__img {
	max-width: 8rem;
	max-height: 8rem;
}

.logo--mixed .logo__text {
	padding: 0 1rem;
}

.logo__title {
	font-size: 2rem;
	font-weight: 700;
	line-height: 1;
	color: var(--title-color);
	text-shadow: 0 0 .3rem var(--title-shadow-color);
}

.logo__tagline {
	display: inline-block;
	padding-top: .625rem;
	margin-top: .625rem;
	font-size: .875rem;
	font-weight: 700;
	line-height: 1;
	color: var(--title-color);
	text-shadow: 0 0 .3rem var(--title-shadow-color);
	border-top: 1px solid var(--title-color);
}

.divider {
	height:  .3rem;
	margin: 0;
	background: var(--title-color);
	border: 0;
}


/* Posts/Pages */
.post__header,
.main__header {
	margin-bottom: 1.25rem;
}

.main__title {
	font-size: 2rem;
}

.main__content {
	margin-bottom: 1.25rem;
}

.meta {
	font-size: .8rem;
	vertical-align: baseline;
}

.meta,
.meta a {
	color: var(--secondary-color);
}

.meta a:hover {
	color: var(--highlight-color);
}

.meta__item {
	display: inline;
	margin-left: .9rem;
}

.meta__item:first-child {
	margin-left: 0;
}

.meta__icon {
	margin-right: .3rem;
	vertical-align: middle;
	fill: var(--meta-icon-color);
}

.meta__text {
	vertical-align: middle;
}

.post__title {
	margin: 0;
}

.post__meta {
	padding: .3rem 0;
	margin-top: .625rem;
	border-top: 1px dotted var(--thin-border-color);
	border-bottom: 1px dotted var(--thin-border-color);
}

.post__lead {
	margin-top: .25rem;
	margin-bottom: 0;
	font-size: 1rem;
	font-style: italic;
}

.post__thumbnail {
	max-width: 64rem;
	margin-bottom: 0 0 1.25rem;
}

.post__thumbnail img {
	width: 100%;
}

.content a,
.warning a,
.authorbox__description a {
	font-weight: 700;
	color: var(--highlight-color);
}

.content a:hover{
	color: var(--accent-color);
}

.warning a:hover,
.authorbox__description a:hover {
	color: var(--highlight-color);
	text-decoration: underline;
}

.content .alignnone {
	display: block;
	margin: 1.25rem 0;
}

.content .aligncenter {
	display: block;
	margin: 1.25rem auto;
}

.content .alignleft {
	display: inline;
	float: left;
	margin: .3rem 1.25rem 1.25rem 0;
}

.content .alignright {
	display: inline;
	float: right;
	margin: 5px 0 20px 20px;
	margin: .3rem 0 1.25rem 1.25rem;
}

.content ul {
	list-style: square;
}

.content ol {
	list-style: decimal;
}

.content ul,
.content ol {
	margin: 0 0 1.25rem 2.5rem;
}

.content ul ul,
.content ol ol,
.content ol ul,
.content ul ol {
	margin: 0 0 0 2.5rem;
}

.content li {
	margin-bottom: .3rem;
}

.post__footer {
	margin-top: 1.25rem;
}

/* Post tags */
.tags {
	margin-bottom: 1.25rem;
	font-size: .75rem;
	line-height: 1;
	color: var(--inverted-primary-color);
}

.tags__list {
	list-style: none;
}

.tags__item {
	float: left;
	margin: 0 .375rem .375rem 0;
	text-transform: uppercase;
	background: var(--inverted-background-color);
}

.tags__item:hover {
	background: var(--highlight-color);
}

.tags__link,
.tags__link:hover {
	display: block;
	padding: .625rem 1rem;
}

.tags__badge {
	float: left;
	width: 2rem;
	height: 2rem;
	padding: .5rem;
	margin-right: .4rem;
	background: var(--highlight-color);
	fill: var(--inverted-primary-color);
}

/* Table of Contents */
.toc {
	margin-bottom: 1.25rem;
	font-weight: 700;
	color: var(--toc-color);
	background: var(--toc-background-color);
	border-color: var(--thin-border-color);
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 0;
	border-left-width: 1px;
}

.toc__title {
	padding: .3rem .625rem;
	color: var(--inverted-primary-color);
	text-transform: uppercase;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	background: var(--inverted-background-color);
}

.toc__menu ul {
	margin: 0;
	list-style: none;
}

.toc__menu ul ul ul a {
	padding-left: 1.6rem;
}

.toc__menu ul ul ul ul a {
	padding-left: 2.8rem;
}

.toc__menu ul ul ul ul ul a {
	padding-left: 4rem;
}

.toc__menu ul ul ul ul ul ul a {
	padding-left: 5.2rem;
}

.toc__menu li {
	margin: 0;
}

.toc__menu a {
	display: block;
	padding: .3rem 1rem;
	color: var(--highlight-color);
	border-bottom: 1px solid var(--thin-border-color);
}

.toc__menu a:hover {
	text-decoration: underline;
}

/* Author Box */
.authorbox {
	padding: 1.6rem 0;
	margin-bottom: 1.6rem;
	line-height: 1.5;
	border-top: 1px solid var(--thin-border-color);
	border-bottom: 1px solid var(--thin-border-color);
}

.authorbox__avatar {
	float: left;
	padding: .2rem;
	margin: 0 1.6rem 0 0;
	border: 1px solid var(--thin-border-color);
}

.authorbox__header {
	margin-bottom: .6rem;
}

.authorbox__name {
	font-size: 1rem;
	font-weight: 700;
}

/* List content */
.list__item {
	padding-bottom: 1.25rem;
	margin-bottom: 1.25rem;
	border-bottom: solid 0.3rem var(--highlight-color);
}


.list__header {
	margin-bottom: .625rem;
}

.list__title {
	font-size: 1.25rem;
}

.list__meta {
	margin-top: .3rem;
}

.list__thumbnail {
	float: left;
	margin: 0 20px 0 0;
	margin: 0 1.25rem 0 0;
}

.list__thumbnail img {
	width: 12rem;
}

.list__footer-readmore {
	float: right;
	margin-top: .6rem;
}

/* Pagination */
.pagination {
	margin-top: 1.25rem;
}

.pagination__item {
	display: inline-block;
	padding: .6rem 1rem;
	font-weight: 700;
	color: var(--primary-color);
	background: var(--secondary-background-color);
}

.pagination__item:hover,
.pagination__item--current {
	color: var(--inverted-primary-color);
	background: var(--highlight-color);
}

/* Pager (prev/next links) navigation */
.pager {
	-webkit-justify-content: space-between;
	justify-content: space-between;
	padding-top: 1.6rem;
	padding-bottom: 1.6rem;
	margin-bottom: 1.6rem;
	border-bottom: 1px solid var(--thin-border-color);
}

.pager__subtitle {
	display: block;
	margin-bottom: .3rem;
	font-weight: 700;
	line-height: 1;
	text-transform: uppercase;
}

.pager__title {
	margin-bottom: 0;
	overflow: hidden;
	font-size: .8rem;
}

.pager__item {
	-webkit-flex: 1 1 50%;
	flex: 1 1 50%;
	max-width: 48%;
}

.pager__item--next {
	margin-left: auto;
	text-align: right;
}

.pager__link {
	display: block;
}

/* Images / Video */
img {
	width: 15rem; /* ie8 */
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}

iframe,
embed,
object,
video {
	max-width: 100%;
}


/* Table */
table {
	width: 100%;
	margin-bottom: 1.25rem;
	border-spacing: 0;
	border-collapse: collapse;
	border-top: 1px solid var(--thin-border-color);
	border-left: 1px solid var(--thin-border-color);
}

td,
th {
	padding: .3rem 1rem;
	border-right: 1px solid var(--thin-border-color);
	border-bottom: 1px solid var(--thin-border-color);
}

th {
	font-weight: 700;
}

/* Forms */
input {
	padding: .3rem;
	font-size: .75rem;
	vertical-align: middle;
	background: var(--secondary-background-color);
	border: 1px solid var(--thin-border-color);
	transition: all .25s ease-in-out;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=url] {
	width: 60%;
}

input[type=text]:hover,
input[type=email]:hover,
input[type=tel]:hover,
input[type=url]:hover,
textarea:hover {
	border: 1px solid var(--secondary-color);
}

input[type=submit],
input[type=reset] {
	display: inline-block;
	min-width: 9rem;
	padding: .6rem 1rem;
	font-weight: 700;
	color: var(--inverted-primary-color);
	text-transform: uppercase;
	cursor: pointer;
	background: var(--inverted-background-color);
	border: 0;
	transition: all .1s linear;
	-webkit-appearance: none;
}

input[type=submit]:hover,
input[type=reset]:hover {
	background: var(--highlight-color);
}

textarea {
	width: 96%;
	padding: .3rem;
	overflow: auto;
	line-height: 1.5;
	resize: vertical;
	background: var(--secondary-background-color);
	border: 1px solid rgba(0, 0, 0, .1);
}

/* Widgets */
.widget {
	margin-bottom: 1.6rem;
	overflow: hidden;
}

.widget:last-child {
	margin-bottom: 0;
}

.widget__title {
	position: relative;
	padding-bottom: .3rem;
	font-size: 1rem;
	text-transform: uppercase;
	border-bottom: 3px solid var(--highlight-color);
}

.widget__item {
	display: block;
	padding: .3rem 0;
	border-bottom: 1px dotted var(--thin-border-color);
}

.widget__item:first-child {
	padding-top: 0;
}

/* Search widget */
.widget-search__form {
	display: block;
	padding: 5%;
	margin: 0 auto;
	background: var(--background-color);
}

.widget-search__form .widget-search__submit {
	display: none;
}

.widget-search__field {
	position: relative;
	display: block;
	width: 90%;
	padding: .5rem;
	margin: 0 auto;
	font-size: .7rem;
	cursor: pointer;
	color: var(--primary-color);
	background: var(--inverted-primary-color);
	border: 1px solid var(--thin-border-color);
	border-radius: 0;
	outline-offset: -2px;
	transition: none;
	-webkit-appearance: none;
}

.widget-search__field:active,
.widget-search__field:focus {
	cursor: text;
}

/* Social widget */
.widget-social__item {
	padding: 0;
	border: 0;
}

.widget-social__link {
	display: block;
	margin: 0 0 .5rem;
	white-space: normal;
}

.widget-social__link-icon {
	margin: 0 .3rem 0 0;
	vertical-align: middle;
	fill: var(--inverted-primary-color);
}

/* Tags Widget */
.widget-taglist__link {
	display: inline-block;
	margin: 0 .25rem 0.5rem 0;
	font-size: .75rem;
	text-transform: uppercase;
}

/* Languages Widget */
.widget-languages__link {
	display: block;
}

.widget-languages__link:hover .widget-languages__link-btn {
	color: var(--inverted-primary-color);
	background: var(--highlight-color);
}

.widget-languages__link-btn {
	display: inline-block;
}

/* Footer */
.footer {
	padding: .6rem 1.6rem;
	font-size: .75rem;
	color: var(--secondary-color);
	background: var(--inverted-background-color);
	border-top: .2rem solid var(--accent-color);
	margin-top: auto;
}

.footer__container {
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

.footer__links {
	-webkit-order: 1;
	order: 1;
}

.footer a {
	color: var(--inverted-primary-color);
}

.footer a:hover {
	text-decoration: underline;
}

/* Media Queries */
@media screen and (max-width: 1475px) {
	.container {
		width: 95%;
	}
}

@media screen and (max-width: 900px) {
	.container {
		width: 100%;
		margin: 0 auto;
	}

	.wrapper,
	.logo {
		padding: .6rem;
	}

	.widget {
		margin-bottom: 1.25rem;
	}

	.footer__container {
		display: block;
	}

	.footer__links {
		padding-bottom: 0.5rem;
		text-align: center;
	}

	.footer__copyright {
		text-align: center;
	}

	img {
		width: 100%;
	}
}

@media screen and (max-width: 767px) {
	.wrapper {
		display: block;
	}

	.sidebar {
		float: none;
		width: 100%;
		margin: 0;
	}

	.logo {
		text-align: center;
	}

	.logo__link {
		margin: 0 auto;
	}

	.logo__title {
		font-size: 1.5rem;
	}

	.sidebar {
		margin-top: 1.25rem;
	}
}

@media screen and (max-width: 620px) {
	input[type=text],
	input[type=email],
	input[type=tel],
	input[type=url] {
		width: 88%;
	}

	.meta__item {
		display: block;
		margin-left: 0;
	}

	.authorbox {
		text-align: center;
	}

	.authorbox__avatar {
		display: inline-block;
		float: none;
		margin: 0 0 1.25rem;
	}

	.pager {
		display: block;
	}

	.pager__item {
		min-width: 100%;
		text-align: center;
	}

	.pager__item--prev {
		padding-bottom: 1.6rem;
	}
	
	.content ul,
	.content ol {
		margin: 0 0 1.25rem 1.25rem;
	}

	.content ul ul,
	.content ol ol,
	.content ol ul,
	.content ul ol {
		margin: 0 0 0 1.25rem;
	}

	.list__thumbnail {
		width: 100%;
	}

	.list__thumbnail img {
		max-width: 100%;
		width: 15rem;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

	.list__title {
		font-size: 1rem;
	}

	.list__lead {
		font-size: .9rem;
	}

	.list__meta {
		display: block;
		font-size: .7rem;
	}

}
