{{- if .Site.Menus.main }}
<nav class="menu" id="menu">
	<div class="container">
		<ul class="menu__list" id="menu__list">
			<a class="menu__btn" href="#menu" id="open">
				<span class="menu__btn-title" tabindex="-1">{{ T "menu_label" }}</span>
			</a>
			{{ if .Site.Params.start_button }}
			<li class="menu__item start__item">
				<a class="menu__link start__link" aria-label="start" href="/">
					{{ partial "svg/dpsg.svg" (dict "class" "start__button") }}
				</a>
			</li>
			{{ end }}
			{{- $currentNode := . }}
			{{- range .Site.Menus.main }}
			{{- if .Name }}
			{{- if .HasChildren }}
			<li class="menu__item submenu{{ if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} menu__item--active{{ end }}">
				<a class="menu__link" href="{{ .URL }}">
					{{ .Pre }}
					<span class="menu__text">{{ .Name }}</span>
					{{ .Post }}
				</a>
				<ul class="submenu__list">
					{{- range .Children }}
					<li class="submenu__item">
						<a class="submenu__link" href="{{ .URL }}">
							{{ .Pre }}
							<span class="submenu__text">{{ .Name }}</span>
							{{ .Post }}
						</a>
					</li>
					{{- end }}
				</ul>
			</li>
			{{- else }}			
			<li class="menu__item{{ if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} menu__item--active{{ end }}">
				<a class="menu__link" href="{{ .URL }}">
					{{ .Pre }}
					<span class="menu__text">{{ .Name }}</span>
					{{ .Post }}
				</a>
			</li>
			{{- end }}			
			{{- end }}
			{{- end }}
		</ul>
		<a class="menu__btn" aria-haspopup="true" aria-expanded="false" tabindex="0" href="#menu__list" id="close">
			<span class="menu__btn-title" tabindex="-1">{{ T "menu_label" }}</span>
		</a>
	</div>
</nav>
{{ else -}}
<div class="divider"></div>
{{- end }}
